@charset "utf-8";
body{font-family: 'Roboto', sans-serif;}

#header{background: skyblue;height: 1950px;position: relative;}
#header .header_top{width: 1260px;height: 50px;position: absolute; left:50%; top: 30px; margin-left:-800px; z-index: 1}
#header .header_top h1{float:left;line-height: 50px;color: white;}
#header .header_top nav{float:right;}
#header .header_top nav>ul{}
#header .header_top nav>ul>li{float:left;}
#header .header_top nav>ul>li>a{display: block;line-height: 30px;padding: 10px 20px;color: white;font-weight: bold;}
#header .slider_wrap{height: 1010px;}
/*#header .slider_wrap img{width: 100%;}*/
#header .slider_wrap .bx-wrapper{box-shadow: none;border:none;background: #fff;height: 1010px;}
#header .slider_wrap li{height: 1010px;
	background-repeat: no-repeat;background-position: center;background-size: cover;}
#header .slider_wrap li.img1st{background-image: url(../img/mainimg01.jpg);}
#header .slider_wrap li.img2st{background-image: url(../img/mainimg02.jpg);}

#header div.txt_wrap{width: 700px;position: absolute;left:50%; top:40%;transform: translate(-50%,-50%);text-align: center;color: white;}
#header div.txt_wrap >p.txt_title{font-size: 3em;position: relative; margin-bottom: 30px;}
#header div.txt_wrap >p.txt_title:after{content: "";display: block;position: absolute;width: 100%;height: 2px;left:0;background: #fff;bottom: -15px;}
#header div.txt_wrap >p.txt_content{}
#header .content{width: 1260px;height: 1255px;bottom: 0;position: absolute;left:50%; transform: translateX(-50%);}
#header .content .row{width: 100%;}
#header .content .row>div{float: left;width: 25%;height: 315px;position: relative;}
#header .content .row>div:nth-child(1){background:skyblue;}
#header .content .row>div:nth-child(2){background:lightblue;}
#header .content .row>div:nth-child(3){background:darkblue;}
#header .content .row>div:nth-child(4){background:pink;}
#header .content .row>div:nth-child(5){background:red;}
#header .content .row>div:nth-child(6){background:blue;}
#header .content .row>div:nth-child(7){width: 50%;background:gold;}

#header .content .row img{margin: 0 auto; margin-bottom: 10px;}

#header .content .content-1st{width: 170px; position: absolute;left:50%;top:50%;transform:translate(-50%,-50%); text-align: center;color: white;}

#header .content .content-5st{width: 170px; position: absolute;left:50%;top:50%;transform:translate(-50%,-50%); text-align: center;color: white;}

#header .content .content-6st{width: 170px; position: absolute;left:50%;top:50%;transform:translate(-50%,-50%); text-align: center;color: white;}

#header .content .content-7st{position: absolute;top:0; color: white;left:50px;top:50px;}
#header .content .content-7st h4{position: relative;margin-bottom: 25px;}
#header .content .content-7st h4:after{content: ""; position: absolute;width: 50px;height: 2px;background: #fff;left:0;bottom:-15px;}
#header .content .content-7st p{font-size: 2em;}
