@charset"utf-8";
/*header*/
#main_gnb_wrap{width: 100%; height: 30px; border-bottom:1px solid #ddd;}
#main_gnb{width: 980px;margin: 0 auto;}

/*main_gnb*/
#gnb{float: right;}
#gnb>ul>li{float: left; border-left: 1px solid #000;}
#gnb>ul>li:first-child{border-left: none;}
#gnb>ul>li>a{display: block; line-height: 20px; padding: 0 10px;}

/*logo_wrap*/
#logo_wrap{width: 980px;height: 60px;margin: 0 auto; position: relative;padding-top: 5px;}
#logo_wrap>h1{width: 250px;margin: 0 auto; text-align: center;}
#logo_wrap>div.toggle{position: absolute;top: 5px;right: 0;}

/*main_lnb*/
#main_lnb_wrap{background: #1c5da3;} /*브라우저 전체의 색깔을 지정*/
#main_lnb{width: 980px;margin: 0 auto;} /*해당 메뉴의 사이즈지정하고 메뉴의 위치를 가운데로*/
#lnb>ul{width: 100%;} /*메뉴들을 감싸는 ul 100%지정*/
#lnb>ul>li{float: left; width: 16%; border-right: 1px solid #336eac;} /*행을 열로 플로트시키고 각너비를 16%로 하고 오른쪽보더1 색넣고*/
#lnb>ul>li:first-child{border-left: 1px solid #336eac;} /*첫번째자식은 왼쪽보더 1 색넣고*/
#lnb>ul>li>a{display: block; line-height: 40px;	text-align: center; color: white; font-weight:bold;} /*블럭화시키고 행간을 40 링크에 하는게 낫다.*/
#lnb a:hover{background: skyblue;color: #1c5da3;}

/*visual_wrap*/
#visual_wrap{height: 400px;background: #203969 url(../images/visual_bg.jpg) no-repeat;}
div.visual{width: 980px;height: 400px;margin: 0 auto; position: relative;overflow: hidden;}
div.visual img{position: absolute;}
div.visual .img01{right: 0;bottom: -100px;}
div.visual .img02{left: 0;bottom: 70px;}
div.test{height: 200px;background: #f00;}

/* section main_banner */
section.main_banner{background: #eeeeee; margin-bottom: 20px;}
section.main_banner .banner{width: 980px;margin: 0 auto;}
div.banner>ul{width: 100%;}
div.banner>ul>li{float: left; width: 20%;height: 200px;text-align: center;color: white;	cursor: pointer;}
div.banner>ul>li:nth-child(1){background-color: #7c99b9;}
div.banner>ul>li:nth-child(2){background-color: #4f74a1;}
div.banner>ul>li:nth-child(3){background-color: #4b8ce0;}
div.banner>ul>li:nth-child(4){background-color: #3db5f2;}
div.banner>ul>li:nth-child(5){background-color: #95c8ff;}
div.banner>ul>li:nth-child(1):hover,
div.banner>ul>li:nth-child(2):hover,
div.banner>ul>li:nth-child(3):hover,
div.banner>ul>li:nth-child(4):hover,
div.banner>ul>li:nth-child(5):hover{background-color: #336eac;}
div.banner>ul>li img{display: block;margin: 0 auto;}
div.banner>ul>li .card{width: 100%; padding: 15px;}
div.banner>ul>li .card-body{padding-top: 15px;}
div.banner>ul>li .card-title{margin-bottom: 5px;}

/*main_article*/
section.main_article{width: 980px;margin: 0 auto; margin-bottom: 30px;}
section.main_article>ul>li{float:left; width: 310px; margin-right: 25px;}
section.main_article>ul>li:last-child{margin-right: 0;}
section.main_article div.card{width: 100%;}
section.main_article div.card img{display: block;}
section.main_article div.card .card-body{border:1px solid #ddd; padding: 15px;}
section.main_article div.card .card-title{margin-bottom: 5px;}

/*sub_article*/
section.sub_article{width: 980px;margin: 0 auto; margin-bottom: 30px;}
section.sub_article>ul>li{float:left; width: 310px; margin-right: 25px; position: relative; border:1px solid #ddd;}
section.sub_article>ul>li:last-child{margin-right: 0;}
section.sub_article div.card img{position: absolute;right:-40px; padding: 20px;}
section.sub_article div.card .card-body{padding: 15px; position: absolute;top: 0;left: 0;}
section.sub_article div.card .card-title{margin-bottom: 5px;}
section.sub_article div.card .card-text{width: 150px; margin-bottom: 5px;}
section.sub_article div.card .card-btn{color: blue;}

/*fooer*/
footer.footer_content{}
footer.footer_content .foot{}
footer.footer_content .foot>li{}