@charset"utf-8";
/*header*/
#main_gnb_wrap{}
#main_gnb{}

#gnb{float:right;}
#gnb>ul>li{float: left;border-left: 1px solid #000;}
#gnb>ul>li:first-child{border-left: none;}
#gnb>ul>li>a{display: block; line-height: 20px; padding: 0 10px;}
/*logo*/
#logo_wrap{}
#logo_wrap>h1{}
.toggle{}
.toggle>a{}
/*menu*/
#main_lnb_wrap{background: #1c5da3;}
#main_lnb{width: 980px;margin: 0 auto;}
#lnb<ul{width: 100%;}
#lnb>ul>li{float: left;margin: 0 auto;}
#lnb>ul>li{float: left;border-left: none;}
#lnb>ul>li>a{}
